{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'core/auth.css' %}">
    <link rel="icon" href= "{% static 'images/earth.png' %}">
    <title>Log in</title>
</head>
<body>

<form method="post" class="form_auth">
    {% csrf_token %}
    <div class="title_auth">Log in</div>

    <a href="{% url 'signup' %}" class="a_redirect_auth">
        <button type="button" class="btn_for_redirect_in_auth">Sign up</button>
    </a>

    <div class="field_auth">

        {% render_field form.username placeholder="username" class="input_auth" %}

    </div>

    <div class="field_auth">
        {% render_field form.password placeholder="password" class="input_auth" %}
        {% if form.non_field_errors %}
            <div class="errors_auth">{{ form.non_field_errors|first }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn_submit_auth">Log in</button>
</form>

</body>
</html>