{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'core/auth.css' %}">
    <script src = "https://unpkg.com/htmx.org"></script>
</head>
<body>

<form method="post" class="form_auth">
    {% csrf_token %}
    <div class="title_auth">Sign up</div>

    <a href="{% url 'login' %}" class="a_redirect_auth">
        <button type="button" class="btn_for_redirect_in_auth">Log in</button>
    </a>


    <div class="field_auth">
        {% render_field form.username id="input_username_signup" class="input_auth" placeholder="username"%}
        {% if form.username.errors %}
        	<div class="errors_auth">{{ form.username.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="field_auth">
        {% render_field form.password1 id="input_password1_signup" class="input_auth" placeholder="password"%}
        {% if form.password1.errors %}
            <div class="errors_auth">{{ form.password1.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="field_auth">
        {% render_field form.password2 id="input_password2_signup" class="input_auth" placeholder="password again"%}
        {% if form.password2.errors %}
        	<div class="errors_auth">{{ form.password2.errors.0 }}</div>
        {% endif %}
    </div>


    <button type="submit" class="btn_submit_auth">send</button>
</form>
</body>
</html>