{% extends 'completed_tasks.html' %}

{% block completed_tasks %}
    <ul class="list">

    {% for completed_task in completed_tasks %}
        <li id="completed_li_id-{{ completed_task.id }}">

        <div class="date_of_completed_completed_tasks">{{ completed_task.completed_at }}</div>
        <div id="completed_task_id-{{ completed_task.id }}" class="completed_task">{{ completed_task.completed_task }}</div>


        <form >
            {% csrf_token %}
            <input type="checkbox" hx-post="{% url 'delete_completed_task' completed_task.id %}"
                hx-target="#completed_li_id-{{ completed_task.id }}" hx-swap="delete" hx-trigger="change delay:500ms"
                onclick="document.getElementById('completed_task_id-{{ completed_task.id }}').style.textDecoration =
                        this.checked ? 'line-through' : 'none'">
        </form>

        </li>
    {% endfor %}

    </ul>
{% endblock %}