{% extends 'base.html' %}

{% block start %}
    {% for task in tasks %}

        <div>

        <span id = "task" style="">{{ task.task }}</span>

        <form action="{% url 'delete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button style="" type="submit">del</button>
        </form>

        <!--<form hx-post="{"%" url 'update_task' 'test' %}" hx-target="#task"></form> -->

        <form action="{% url 'update_task' task.id "test" %}" method="POST">
            {% csrf_token %}
            <button type="submit" style="">update</button>
        </form>





        </div>

    {% endfor %}

{% endblock %}