{% extends 'base.html' %}

{% block start %}
    {% for task in tasks %}

        <div>

        <span id = "task" style="">{{ task.task }}</span>

        <form action="{% url 'delete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button style="" type="submit">del</button>
        </form>

        <form hx-get="{% url 'show_update' %}" hx-target="#task" >

            <button type="submit">update</button>

        </form>

        </div>

    {% endfor %}

{% endblock %}