{% extends 'base.html' %}

{% block start %}
    <ul class="list" id="tasks_list_main" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% for task in tasks %}

        <li id="li_id-{{ task.id }}">

        <div class="task" id="id-{{ task.id }}">{{ task.task|linebreaksbr }}</div>

        <form >
            {% csrf_token %}
            <input type="checkbox" hx-post="{% url 'delete_task' task.id %}"
                hx-target="#li_id-{{ task.id }}" hx-swap="delete" hx-trigger="change delay:500ms"
                onclick="document.getElementById('id-{{ task.id }}').style.textDecoration =
                        this.checked ? 'line-through' : 'none'"
                        class="checkbox_delete">
        </form>

        <form hx-get="{% url 'show_update' task.id 'tasks_list_main' %}" hx-target="#li_id-{{ task.id }}" >
            <button type="submit" class="btn_update">✏️</button>
        </form>

        <button hx-post="{% url 'move_task' task.id "up" %}"
                hx-target="#tasks_list_main"
                hx-swap="outerHTML"
                hx-select="#tasks_list_main"
                class="move_task"
        >⇧</button>

        <button hx-post="{% url 'move_task' task.id 'down' %}"
                hx-target="#tasks_list_main"
                hx-select="#tasks_list_main"
                hx-swap="outerHTML"
                class="move_task"
        >⇩</button>

        </li>

    {% endfor %}
    </ul>
    <script>

    document.body.addEventListener('htmx:afterSettle', function (event) {
        if (event.detail.target.id === "tasks_list_main") {
            changeTheme()
        }
    })

    </script>


{% endblock %}