{% extends 'notes.html' %}

{% block start %}
    <ul class="list">

	{% for note in notes %}
        <li id="li_id-{{ note.id }}">
        <div id="id-{{ note.id }}" class="task">{{ note.task }}</div>

        <form hx-post="{% url 'delete_task' note.id %}" hx-target="#li_id-{{ note.id }}" hx-swap="delete">
            {% csrf_token %}
            <button type="submit" id="btn_delete_id-{{ note.id }}">delete</button>
        </form>

        <form hx-post="{% url 'show_update' note.id %}" hx-target="#li_id-{{ note.id }}"
                >
            {% csrf_token %}
            <button type="submit" id="btn_update_id-{{ note.id }}">update</button>
        </form>

        </li>
    {% endfor %}

    </ul>
{% endblock %}