{% extends 'notes.html' %}


{% block start %}

    <ul class="list" id="tasks_list_notes" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
	{% for note in tasks %}
        <li id="li_id-{{ note.id }}">

        <div id="id-{{ note.id }}" class="task">{{ note.task|linebreaksbr }}</div>

        <form >
            {% csrf_token %}
            <input type="checkbox" hx-post="{% url 'delete_task' note.id %}"
                hx-target="#li_id-{{ note.id }}" hx-swap="delete" hx-trigger="change delay:500ms"
                onclick="document.getElementById('id-{{ note.id }}').style.textDecoration =
                        this.checked ? 'line-through' : 'none'"
                        class="checkbox_delete">
        </form>


        <form hx-get="{% url 'show_update' note.id 'tasks_list_notes' %}" hx-target="#li_id-{{ note.id }}"
                >
            <button type="submit" id="btn_update_id-{{ note.id }}" class="btn_update">✏️</button>
        </form>

        <button hx-post="{% url 'move_task' note.id "up" %}"
                    hx-target="closest ul"
                    hx-swap="outerHTML"
                    hx-select="#tasks_list_notes"
                    class="move_task"

        >⇧</button>

        <button hx-post="{% url 'move_task' note.id "down" %}"
                    hx-swap="outerHTML"
                    hx-target="#tasks_list_notes"
                    hx-select="#tasks_list_notes"
                    class="move_task"

        >⇩</button>

        </li>

    {% endfor %}
    </ul>

        <script>
            document.body.addEventListener('htmx:afterSettle', function(event) {
                if (event.detail.target.id === "tasks_list_notes") {
                    console.log("changeTheme()");
                    changeTheme();
                }
            });
        </script>
{% endblock %}

