{% extends 'work.html' %}

{% block start %}
    <ul class="list">

	{% for task in tasks %}
        <li>

        <span class="task" id="id-{{ task.id }}">{{ task.task }}</span>

        <form action="{% url 'delete_task' task.id %}" method="POST" >
            {% csrf_token %}
            <button type="submit">delete</button>
        </form>

        <form hx-get="{% url 'show_update' task.id %}" hx-target="#id-{{ task.id }}" >
            <button type="submit">update</button>
        </form>

        </li>

    {% endfor %}
    </ul>
{% endblock %}
