body{
    background-color: black;
    color: aliceblue;
    font-family: monospace;
}

.form_auth{
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 40%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgb(69, 163, 48);
    padding: 20px;
}

.input_auth{
    font-size: 30px;
    font-family: monospace;
    background-color: black;
    color: #d3dde4;
    border-radius: 5px;
    border: 1px solid #171717;
}

.field_auth{
    margin-top: 15px;
}

.btn_submit_auth{
    font-size: 25px;
    color: aliceblue;
    border: none;
    border-radius: 3%;
    transition: transform 0.1s;
    margin-left: 7%;
    padding: 3px;
    font-family: monospace;
    background-color: #000000;
    margin-top: 20px;
    width: 300px;
    box-shadow: 0 0 5px rgb(69, 163, 48);
}
.btn_submit_auth:active{
    transform: scale(0.95);
    filter: brightness(0.90);
}

.title_auth{
    display: inline-block;
    margin-left: 25%;
}

.a_redirect_auth{
    display: inline-block;
    margin-left: 50px;
}

.btn_for_redirect_in_auth{
    transition: transform 0.1s;
    font-family: monospace;
    font-size: 15px;
    padding: 3px;
    border: none;
    background-color: black;
    color: aliceblue ;
    box-shadow: 0 0 3px rgb(69, 163, 48);
    border-radius: 3px;
}
.btn_for_redirect_in_auth:active{
    transform: scale(0.95);
    filter: brightness(0.90);
}

.errors_auth{
    margin-top: 7px;
    font-family: monospace;
    font-size: 15px;
    color: darkred;
}