body{
    background-color: rgb(33, 30, 30);
    color: aliceblue;
    font-family: monospace;
}

*{
    box-sizing: border-box;
}

.input_task{
    font-size: 40px;
    font-family: monospace;
    width: 800px;
    margin-left: 40px;
    margin-top: 10px;
}

#textarea_add_note_notes{
    font-size: 40px;
    font-family: monospace;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.btn_add_task{
    font-family: monospace;
    font-size: 40px;
    border-radius: 10%;
    transition: transform 0.1s;
    border: none;
    color: white;
    background-color: #543e96;
}

.btn_add_task:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

#form_add_task_work{
    margin-left: 20%;
}

.hello_user{
    display: inline-block;
    font-size: 20px;
    font-family: monospace;
    position: fixed;
    right: 20px;
    top: 170px;
}

.btn_logout{
    font-size: 20px;
    font-family: monospace;
    transition: transform 0.1s;
    background-color: darkcyan;
    padding: 10px;
    border: none;
    border-radius: 10%;
    color: bisque;

}
.btn_logout:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

#form_logout_main{
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 90px;

}

.task{
    font-size: 40px;
    display: inline-block;
    line-height: 1.6;
    background-color: rgb(37, 34, 34);
    border-radius: 10px;
    width: 75%;
}

#btn_redirect_work_main{
    position: fixed;
    bottom: 20px;
    right: 330px;
}

#btn_redirect_completed_tasks_main{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn_redirect_completed_tasks_work{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn_redirect_main_work{
    position: fixed;
    bottom: 20px;
    right: 330px;
}

.list{
    width: 75%;
}

form{
    display: inline-block;
}

.date_of_completed_completed_tasks{
    font-size: 20px;
}

.completed_task{
    font-size: 30px;
    display: inline-block;
    line-height: 1.5;
    width: 75%;
    background-color: rgb(37, 34, 34);
    border-radius: 10px;

}

#btn_redirect_notes_main{
    position: fixed;
    bottom: 20px;
    right: 230px;
}

#btn_redirect_notes_work{
    position: fixed;
    bottom: 20px;
    right: 230px;
}

#btn_redirect_completed_tasks_notes{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn_redirect_work_notes{
    position: fixed;
    bottom: 20px;
    right: 230px;
}

#btn_redirect_main_notes{
    position: fixed;
    bottom: 20px;
    right: 320px;
}

ul li:not(:last-child){
    margin-bottom: 30px;
}

#btn_redirect_notes_completed_tasks{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn_redirect_work_completed_tasks{
    position: fixed;
    bottom: 20px;
    right: 120px;
}

#btn_redirect_main_completed_tasks{
    position: fixed;
    bottom: 20px;
    right: 210px;
}

#form_delete_all_completed_tasks{
    position: fixed;
    top: 20px;
    right: 20px;
}

#btn_delete_all_completed_tasks{
    transition: transform 0.1s;
    font-size: 20px;
    font-family: monospace;
    padding: 10px;
    border: none;
    color: bisque;
    border-radius: 7%;
    background-color: darkred;
}
#btn_delete_all_completed_tasks:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_update{
    transition: transoform 0.1s;
    font-family: monospace;
    font-size: 25px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}
.btn_update:active{
    transform: scale(0.90);
    filter: brightness(0.9);
}

.checkbox_delete{
    transition: transform 0.1s;
    width: 30px;
    height: 30px;
    accent-color: #e30d0d;
}
.checkbox_delete:active{
    transform: scale(0.93);
    filter: brightness(0.9);
}

#textarea_update{
    font-size: 40px;
    font-family: monospace;
    border-radius: 10px;
}

#btn_update_in_update_form{
    transition: transfrom 0.1s;
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
    border-radius: 10%;
    border: none;
    background-color: #5bbee8;
}
#btn_update_in_update_form:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_redirect_main{
    transition: transfrom 0.1s;
    font-size: 20px;
    font-family: monospace;
    padding: 15px;
    border: none;
    border-radius: 10%;
    color: bisque;
    background-color: #529a34;
}
.btn_redirect_main:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_redirect_work{
    transition: transfrom 0.1s;
    font-size: 20px;
    font-family: monospace;
    padding: 15px;
    border: none;
    border-radius: 10%;
    background-color: #c05a24;
    color: bisque;
}
.btn_redirect_work:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_redirect_notes{
    transition: transfrom 0.1s;
    font-size: 20px;
    font-family: monospace;
    padding: 15px;
    border: none;
    border-radius: 10%;
    color: bisque;
    background-color: #1d1fc1;
}
.btn_redirect_notes:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_redirect_completed_tasks{
    transition: transfrom 0.1s;
    font-size: 20px;
    font-family: monospace;
    border: none;
    padding: 15px;
    border-radius: 7%;
    color: bisque;
    background-color: #543e96;;
}
.btn_redirect_completed_tasks:active{
    transform: scale(0.97);
    filter: brightness(0.9);
}
.checkbox_delete_completed_task{
    width: 20px;
    height: 20px;
    accent-color: #0404ff;
}

.btn_change_theme{
    position: fixed;
    right: 20px;
    top: 5px;
    border-radius: 100%;
    font-size: 40px;
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: transform 0.1s;
}
.btn_change_theme:active{
    transform: scale(0.90);
}

.move_task{
    transition: transform 0.1s;
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: transparent;
    font-size: 40px;
    color: rgb(178, 23, 23);
}

.move_task:active{
    transform: scale(0.90);
}

ul li:first-child{
    margin-top: 50px;
}