body{
    background-color: black;
    color: antiquewhite;
    font-family: monospace;
}

*{
    box-sizing: border-box;
}

.input_task{
    font-size: 40px;
    font-family: monospace;
    width: 800px;
}

.btn_add_task{
    font-family: monospace;
    font-size: 40px;
    border-radius: 10%;
    transition: transform 0.1s;
}

.btn_add_task:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

#form_add_task_work{
    margin-left: 25%;
}

.hello_user{
    font-size: 25px;
    font-family: monospace;
    display: inline-block;
    margin-left: 600px;
}

.btn_logout{
    font-size: 20px;
    font-family: monospace;
    transition: transform 0.1s;
    background-color: #ec1b1b;
    color: black;
    margin-left: 50%;
    display: inline-block;
}

.btn_logout:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.form_inline_block{
    display: inline-block;
}

.task{
    font-size: 40px;
    display: inline-block;
}

#btn_redirect_work_main{
    position: fixed;
    bottom: 20px;
    right: 200px;
}

#btn_redirect_completed_tasks_main{
    position: fixed;
    bottom: 80px;
    right: 20px;
}

#btn_redirect_completed_tasks_work{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn_redirect_main_work{
    position: fixed;
    bottom: 20px;
    right: 215px;
}

.list{
    width: 75%;
}

form{
    display: inline-block;
}

.date_of_completed_completed_tasks{
    font-size: 20px;
}

.completed_task{
    font-size: 30px;
    display: inline-block;
}

.btn_delete_completed_task{

}

#btn_redirect_notes_main{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn_redirect_notes_work{
    position: fixed;
    bottom: 20px;
    right: 150px;
}

#btn_redirect_completed_tasks_notes{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn_redirect_work_notes{
    position: fixed;
    bottom: 20px;
    right: 150px;
}

#btn_redirect_main_notes{
    position: fixed;
    bottom: 20px;
    right: 210px;
}

ul li:not(:last-child){
    margin-bottom: 30px;
}

#btn_redirect_notes_completed_tasks{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn_redirect_work_completed_tasks{
    position: fixed;
    bottom: 20px;
    right: 90px;
}

#btn_redirect_main_completed_tasks{
    position: fixed;
    bottom: 20px;
    right: 160px;
}

#btn_delete_all_completed_tasks{
    position: fixed;
    top: 20px;
    right: 20px;
}

.btn_update{
    transition: transoform 0.1s;
    font-family: monospace;
    font-size: 25px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.btn_update:active{
    transform: scale(0.90);
    filter: brightness(0.9);
}

.checkbox_delete{
    width: 30px;
    height: 30px;
}

#textarea_update{
    font-size: 30px;
    font-family: monospace;
}

#btn_update_in_update_form{
    transition: transfrom 0.1s;
    font-family: monospace;
    font-size: 25px;
}
#btn_update_in_update_form:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_redirect_main{
    transition: transfrom 0.1s;
    font-size: 20px;
    font-family: monospace;
}
.btn_redirect_main:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_redirect_work{
    transition: transfrom 0.1s;
    font-size: 20px;
    font-family: monospace;
}
.btn_redirect_work:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_redirect_notes{
    transition: transfrom 0.1s;
    font-size: 20px;
    font-family: monospace;
}
.btn_redirect_notes:active{
    transform: scale(0.95);
    filter: brightness(0.9);
}

.btn_redirect_completed_tasks{
    transition: transfrom 0.1s;
    font-size: 20px;
    font-family: monospace;
}
.btn_redirect_completed_tasks:active{
    transform: scale(0.97);
    filter: brightness(0.9);
}
