{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kite</title>
    <script src = "https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">


</head>
<body>
    {% if user.is_authenticated %}
        <form action="{% url 'add_task' "main" %}" method="POST" >
            {% csrf_token %}
            <input type="text" name="task" id="input_task_main" class="input_task" placeholder="Write your task">
            <button type="submit" id="btn_add_task_main" class="btn_add_task">Add</button>

        </form>

        <div class="hello_user">Hello {{ user.username }}</div>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn_logout" id="btn_logout_main">logout</button>
        </form>

        {% block start %}

        {% endblock %}

        <form action="{% url 'show_tasks_work' %}" id="btn_redirect_work_main">
            <button type="submit" class="btn_redirect_work">work</button>
        </form>

        <form action="{% url 'show_notes' %}" id="btn_redirect_notes_main">
            <button type="submit" class="btn_redirect_notes">notes</button>
        </form>

        <form action="/completed_tasks/" id="btn_redirect_completed_tasks_main">
            <button type="submit" class="btn_redirect_completed_tasks">completed tasks</button>
        </form>





    {% endif %}
</body>
</html>



