{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kite</title>
    <script src = "https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="icon" href= "{% static 'images/earth.png' %}">
</head>

<body>
    {% if user.is_authenticated %}
        <form hx-post="{% url 'add_task' "main" %}" hx-target="#tasks_list_main"
                hx-swap="outerHTML" hx-select="#tasks_list_main">
            {% csrf_token %}
            <input type="text" name="task" id="input_task_main" class="input_task" placeholder="Write your task">
            <button type="submit" id="btn_add_task_main" class="btn_add_task">Add</button>

        </form>

        <button class="btn_change_theme">🔆</button>

        <form action="{% url 'logout' %}" method="post" id="form_logout_main">
            {% csrf_token %}
            <button type="submit" class="btn_logout" id="btn_logout_main">logout</button>
        </form>

        <div class="hello_user">user: {{ user.username }}</div>

        {% block start %}

        {% endblock %}

        <form action="{% url 'show_tasks_work' %}" id="btn_redirect_work_main">
            <button type="submit" class="btn_redirect_work">work</button>
        </form>

        <form action="{% url 'show_notes' %}" id="btn_redirect_notes_main">
            <button type="submit" class="btn_redirect_notes">notes</button>
        </form>

        <form action="/completed_tasks/" id="btn_redirect_completed_tasks_main">
            <button type="submit" class="btn_redirect_completed_tasks">completed tasks</button>
        </form>



    <script src="{% static 'core/js/script.js' %}"></script>
    {% endif %}
</body>
</html>



