{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Completed tasks</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <script src = "https://unpkg.com/htmx.org"></script>
</head>
<body>

{% if user.is_authenticated %}



{% block completed_tasks %}
{% endblock %}

<form action="{% url 'home' %}" id="btn_redirect_main_completed_tasks">
    <button type="submit" class="btn_redirect_main">main</button>
</form>

<form action="{% url 'show_tasks_work' %}" id="btn_redirect_work_completed_tasks">
    <button type="submit" class="btn_redirect_work">work</button>
</form>

<form action="{% url 'delete_all_completed_tasks' %}" method="post" id="form_delete_all_completed_tasks">
    {% csrf_token %}
    <button type="submit" id="btn_delete_all_completed_tasks">Delete All</button>
</form>

<form action="{% url 'show_notes' %}" id="btn_redirect_notes_completed_tasks">
    <button type="submit" class="btn_redirect_notes">notes</button>
</form>

{% endif %}
</body>
</html>