{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="icon" href= "{% static 'images/earth.png' %}">
    <script src = "https://unpkg.com/htmx.org"></script>
    <title>Kite Notes</title>
</head>
<body>
    {% if user.is_authenticated %}

        <form hx-post="{% url 'add_task' "notes" %}" hx-target="#tasks_list_notes"
                hx-select="#tasks_list_notes" hx-swap="outerHTML"
                hx-on::after-request="document.getElementById('textarea_add_note_notes').value = ''">
            {% csrf_token %}
            <textarea class="input_task" id="textarea_add_note_notes" cols="70" rows="5" name="task"
                        placeholder="write your note" autocomplete="off"></textarea>
            <button type="submit" class="btn_add_task">Add</button>
        </form>
        <button class="btn_change_theme">🔆</button>

        {% block start %}

        {% endblock %}

        <form action="{% url 'home' %}" id="btn_redirect_main_notes">
            <button type="submit" class="btn_redirect_main">main</button>
        </form>

        <form action="{% url 'show_tasks_work' %}" id="btn_redirect_work_notes">
            <button type="submit" class="btn_redirect_work">work</button>
        </form>

        <form action="{% url 'show_completed_tasks' %}" id="btn_redirect_completed_tasks_notes">
            <button type="submit" class="btn_redirect_completed_tasks">completed tasks</button>
        </form>

        <script src="{% static 'core/js/script.js' %}"></script>
    {% endif %}
</body>
</html>